*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

html{
	font: normal 16px sans-serif;
	color: #555;
	scroll-behavior: smooth;
}

nav > * {
	font-size: 13px;
}

#logo{
	max-width: 100px;
	display: inline-block;
}

.adaptable-cont{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 70%;
	left: 15%;
	align-items: center;
}

.adaptable-cont > *{
	display: block;
	width: 50%;
}

.adaptable-cont > div > *{
	padding: 10px;
}

.adaptable-cont{
	text-align: center;
}

#flex-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

a{
	text-decoration: none;
	color: inherit;
	/*cursor: pointer;*/
	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 125px 100px;
}



section h3.title{
	color: #414a4f;
	text-transform: capitalize;
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

/*section p{*/
/*	max-width: 800px;*/
/*	text-align: center;*/
/*	margin-bottom: 35px;*/
/*	padding: 0 20px;*/
/*	line-height: 2;*/
/*}*/

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: block;
	color: #fff;
	padding: 35px 100px 0;
}

header nav{
	flex-direction: row;
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav a{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}




#main-section{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
	background-color: black;
	z-index: -100;
	overflow: hidden;
}

#main-section .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	opacity: 0.75;
}

#main-section h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

#main-section h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

#main-section a.btn{
	padding: 20px 46px;
}


#about-olymp .grid li{
	padding: 20px;

	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: inherit;
}

#about-olymp .grid li.pict{
	height: 350px;
}

#about-olymp .grid li.small{
	flex-basis: 40%;
}

#about-olymp .grid li.large{
	flex-basis: 60%;
}

#fisht{
	background-color: #f7f7f7;
}

#iceberg{
	background-color: white;
}

#adler{
	background-color: #f7f7f7;
}

#puck{
	background-color: white;
}

#grand-ice-palace{
	background-color: #f7f7f7;
}

#curling-center{
	background-color: #f7f7f7;
}

#fisht .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

#fisht .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

#fisht .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

#fisht .grid li p{
    margin: 0;
}

